<!--modale free -->
<div class="modal" id="Addnew" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">إضافة عميل جديد</h5>
          <button type="button" class="close closemodal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <form>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label>إسم العميل</label>
                            <input type="text" class="form-control" id="UserName" placeholder="ضروري">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputZip">رقم الجوال</label>
                            <input class="form-control" id="UserPhone" placeholder="ضروري">
                          </div>
                        </div>
                        <div class="form-row">
                        <div class="form-group col-md-6">
                                <label>البريد الإلكتروني</label>
                                <div class="input-group mb-2">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text">@</div>
                                  </div>
                                  <input type="email" class="form-control" id="UserEmail" placeholder="يجب أن يكون مختلف">
                                </div>
                              </div>
                          <div class="form-group col-md-6">
                            <label>المدينة</label>
                            <select type='select' id="UserCity" class="form-control">
                                    <option value="" selected>الرجاء الإختيار</option>
                                    <option value="amman">عمان</option>
                                    <option value="aqaba">العقية</option>
                                    <option value="ajlon">عجلون</option>
                                    <option value="zarqaa">الزرقاء</option>
                                    <option value="baqaa">البقعاء</option>
                                    <option value="batraa">البتراء</option>
                                    <option value="dead_sea">البحر الميت</option>
                                    <option value="jarsh">جرش</option>
                                    </select>
                                    <small class="form-text text-muted">ضروري</small>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label>كلمة المرور</label>
                            <input type="password" class="form-control" id="UserPass" placeholder="كلمة المرور">
                          </div>
                            <div class="form-group col-md-6">
                              <label>تاريخ الميلاد</label>
                              <input class="form-control" id="UserBirthDay">
                            </div>
                          <div class="form-group col-md-12">
                                <label>العنوان</label>
                                <input type="text" class="form-control" id="UserAddress" placeholder="ضروري">
                                <small class="form-text text-muted">العنوان التفصيلي لموقع العميل</small>
                              </div>
                              
                        </div>
                      </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary closemodal">إلغاء</button>
          <button type="button" type="submit" class="btn btn-primary supbutton" onclick="SendUser()">إضافة</button>
          <div class="loading"></div>
        </div>
      </div>
    </div>
  </div>