<div class="modal fade" id="UserModal" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" class="form-control" id="UserName">
                                <label class="form-label">إسم التصنيف</label>
                                <div class="help-info">مطلوب</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <textarea rows="1" class="form-control no-resize auto-growth" id="UserAddress"></textarea>
                                <label class="form-label">شرح التصنيف</label>
                                <div class="help-info">عادي لو ضغت على Enter (مطلوب)</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary waves-effect" id="supbutton" onclick="">حفظ
                    التغيرات</button>
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">إلغاء</button>
                <div id="addusermodalloading" class="preloader pl-size-sm">
                    <div class="spinner-layer pl-red-grey">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>