<html><head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>خطأ</title>    
        <!-- Custom Css -->
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body class="five-zero-zero">
        <div class="five-zero-zero-container">
            <div class="error-code"><%= error.status %></div>
            <div class="error-message"><%= message %></div>
            <div class="button-place">
                <a href="/" class="btn btn-default btn-lg waves-effect">الذهاب إلى الصفحة الرئيسية</a>
            </div>
        </div>
        <script src="/plugins/jquery/jquery.min.js"></script>
        <script src="/plugins/bootstrap/js/bootstrap.js"></script>
        <script src="/plugins/node-waves/waves.js"></script>
    </body></html>
