</div>
</div>
<script src="plugin/jquery/jquery-3.4.1.js"></script>
<script src="plugin/bootstrap/js/bootstrap.min.js"></script>
<script src="plugin/jq_datatable/datatable.min.js"></script>
<script src="plugin/jq_datatable/databoot.min.js"></script>
<script src="js/main.js"></script>
    </body>
</html>