<%- include('Layout/header'); -%>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"><%= title %></h1>
  </div>
  <section class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="card mb-3">
          <div class="card-header"><h4>معلومات المنتج</h4></div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <label>الرمز المرجعي_ID</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-qrcode"></i></span>
                  </div>
                  <input type="text" class="form-control" id="ProID" disabled>
                </div>
              </div>
              <div class="col-lg-12">
                <label>إسم المنتج</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-pen"></i></span>
                  </div>
                  <input type="text" class="form-control" id="ProName">
                </div>
              </div>
              <div class="col-lg-12">
                <label>الفئة</label>
                <div class="form-group input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-folder-open"></i></span>
                  </div>
                  <select class="form-control" id="ProCat">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <label>السعر</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-dollar-sign"></i></span>
                  </div>
                  <input type="text" class="form-control" id="ProPrice">
                </div>
              </div>
              <div class="col-md-6">
                <label>التكلفة</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-donate"></i></span>
                  </div>
                  <input type="text" class="form-control" id="ProCost">
                </div>
              </div>
              <div class="col-md-12">
                <label>باركود المنتج</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-barcode"></i></span>
                  </div>
                  <input type="text" class="form-control" id="ProCost">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card mb-3">
          <div class="card-header"><h4>المخزون</h4></div>
          <div class="card-body">
            <div class="row">
              <h4>المتجر الرئيسي</h4>
              <div class="col-lg-12">
                <label>الكمية</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-boxes"></i></span>
                  </div>
                  <input type="number" class="form-control" id="Pro-THISSTORE-Count">
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
              <div class="row">
                <h4>المخزن</h4>
                <div class="col-lg-12">
                  <label>الكمية</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-boxes"></i></span>
                    </div>
                    <input type="number" class="form-control" id="Pro-THISSTORE-Count">
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card mb-3">
          <div class="card-header"><h4>صور المنتج</h4></div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-4">
                <h4>الصورة الرئيسية</h4>
                <form class="formfile" method="POST" enctype="multipart/form-data" id="ProMainPic">
                  <input class="filebutton" type="file" name="Mainpic" onchange="MainPicSubmit(this.form)"/>
                  <label><i class="fas fa-plus"></i></label>
              </form>
              <div class="input-group flex-nowrap mt-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="addon-wrapping">/</span>
                </div>
                <input type="text" class="form-control" id="MainPicID"  disabled/>
              </div>
              </div>
              <div class="col-lg-8">
                <h4>الصور الإضافية <small class="badge badge-primary">أقصى عدد 8 صور</small></h4>
                <form class="formfile row justify-content-center" method="POST" enctype="multipart/form-data" id="ProOtherPics">
                  <input class="filebutton" type="file" name="OtherPics" onchange="OtherPicSubmit(this.form)" multiple/>
                  <label><i class="fas fa-plus"></i></label>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<%- include('Layout/footer'); -%>

