<!doctype html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="data and app managemnet">
    <meta name="author" content="Ahmad zaaterah">
    <title>صفحة الإدارة - <%= title %></title>

<link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">صفحة الإدارة</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="بحث" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">تسجيل الخروج</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a id="homepage" class="nav-link" href="/"><i class="fas fa-home"></i>الرئيسية </a>
          </li>
          <li class="nav-item">
            <a id="orderspage" class="nav-link" href="/orders"><i class="fas fa-boxes"></i>الطلبات</a>
          </li>
          <li class="nav-item">
            <a id="propage" class="nav-link" href="/prodacts"><i class="fas fa-shopping-cart"></i>المنتجات</a>
          </li>
          <li class="nav-item">
            <a id="userspage" class="nav-link" href="/users"><i class="fas fa-users"></i>العملاء</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-scroll"></i>التقارير</a>
          </li>
        </ul>
      </div>
    </nav>

